*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);

    --nutmeg: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 51%, 32%);
}

@font-face {
    font-family: 'Young Serif';
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: 'Outfit';
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

body{
    font-family: 'Outfit';
}

p{
    font-size: 16px;
}

ul{
    list-style-position: inside;
}

li p{
    display: inline;
}

.border-line{
    padding-bottom: 35px;
    border-bottom: solid var(--light-grey) 2px;
}


.container{
    width: 100%;
    background: var(--eggshell);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 0;
}

.page{
    width: 695px;
    padding: 35px;
    border-radius: 15px;
    background: var(--white);
    color: var(--wenge-brown);

}

.page img{
    width: 100%;
    border-radius: 10px;
}

.page .title{
    font-family: 'Young Serif';
    font-size: xx-large;
    margin-top: 15px;
}

.page .description{
    margin-top: 15px;
    font-weight: 300;
}

.page .preparation-time{
    margin-top: 35px;
    background: var(--rose-white);
    padding: 25px;
}

.page .preparation-time h3{
    color: var(--dark-raspberry);
}

.page .time-detail li{
    margin-top: 10px;
}

.page .time-detail li::marker{
    color: var(--dark-raspberry);
}

.page .time-detail span{
    margin-left: 10px;
}

.page h2{
    margin-top: 30px;
    font-family: 'Young Serif';
    color: var(--nutmeg);
}

.page .ingredients{
    margin-top: 20px;
}

.page .ingredients li{
    margin-top: 15px;
}

.page .ingredients li::marker{
    color: var(--nutmeg);
}

.page .ingredients p{
    margin-left: 20px;
}

.page .instructions li{
    padding-top: 15px;
}

.page .instructions span{
    font-weight: bold;
}

.page .instructions p{
    line-height: 25px;
    margin-left: 20px;
}

.page .nutrition-desc{
    margin-top: 20px;
}

.page table{
    margin-top: 20px;
    width: 100%;
}

.page td{
    padding: 15px;
    font-size: 16px;
    border-bottom: solid var(--light-grey) 2px;
}

.page .value{
    color: var(--nutmeg);
    font-weight: bold;
}